@model E_CommerceWebApplication.Models.Reservation

<h2 class="text-center">Réservation</h2>

<div class="container">
    <form asp-action="Create" method="post">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="name">Nom :</label>
                    <input asp-for="name" class="form-control" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Email">Email :</label>
                    <input asp-for="Email" class="form-control" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="phone">Téléphone :</label>
                    <input asp-for="phone" class="form-control" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="date">Date :</label>
                    <input asp-for="date" type="date" class="form-control" />
                </div>
            </div>
        </div>

        <div class="form-group">
            <label>Message :</label>
            <textarea  class="form-control" rows="4"></textarea>
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-success">Ajouter</button>

        </div>
    </form>
</div>
