@{
    ViewData["Title"] = "Photographer Profile";
}

<style>
    /* Style pour la section contenant l'image */
    .image-section {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60vh; /* 60% de la hauteur de la fenêtre */
        background-image: url('../../wwwroot/Images/cap2.PNG'); /* Remplacez 'url_de_votre_image.jpg' par l'URL de votre image */
        background-size: cover;
        background-position: center;
        color: white;
        text-align: center;
        font-size: 2em;
    }

    /* Style pour la section des informations */
    .info-section {
        padding: 30px; /* Ajusté pour un espacement plus léger */
        text-align: center;
        background-color: #f8f8f8; /* Ajout d'une couleur de fond pour la section d'informations */
    }

    /* Style pour le titre */
    h1 {
        font-size: 2.5em; /* Légèrement réduit la taille du titre */
        margin-bottom: 20px;
        color: #333; /* Couleur de texte plus foncée pour le titre */
    }

    /* Style pour le paragraphe */
    p {
        font-size: 1.2em;
        line-height: 1.6;
        color: #555; /* Couleur de texte légèrement plus foncée pour le paragraphe */
    }
</style>

<div class="image-section">
    <h1>Photographer Ryhab Elmoncer </h1>
</div>

<div class="info-section">
    <h1>About Me</h1>
    <p>
        I am Ryhab Elmoncer, a software engineering 
        master's graduate with a passion for photography.
        While my expertise lies in software, I've always 
        found solace and joy in capturing moments through the lens.
        Photography has been my cherished hobby, allowing me to explore 
        creativity beyond the realms of coding. It's a delightful intersection 
        where technology meets art, enabling me to freeze emotions and preserve
        memories through my photographs.
    </p>
</div>
